.adjudication {
  .chart {
    height: 500px;
    width: 100%;

    .axis path {
      stroke: none;
    }

    .gradient-purple {
      fill: url(#gradient-purple);

      &:hover {
        fill: url(#gradient-purple-hover);
      }
    }
    .gradient-yellow {
      fill: url(#gradient-yellow);

      &:hover {
        fill: url(#gradient-yellow-hover);
      }
    }
  }
}
