.bookings {
  .infotip-container {
    padding-bottom: 5px;
  }

  .infotip {
    position: relative;
    background: #ffffff;
    border: 2px solid black;
    padding: 5px;
    border-radius: 2px;

    &.yrs_lt5 {
      border-color: $maroon;
    }
    &.yrs_5_13 {
      border-color: $yellow;
    }
  }
  .infotip:after, .infotip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .infotip:after {
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  @mixin infotip_before {
    border-color: transparent;
    border-width: 11px;
    margin-left: -11px;
  }
  .infotip.yrs_lt5:before {
    @include infotip_before;
    border-top-color: $maroon;
  }
  .infotip.yrs_5_13:before {
    @include infotip_before;
    border-top-color: $yellow;
  }

  #bookings-by-agency {
    height: 500px;
    width: 100%;

    .column {
      &.gradient-purple {
        fill: url(#gradient-purple);

        &:hover {
          fill: url(#gradient-purple-hover);
        }
      }
      &.gradient-yellow {
        fill: url(#gradient-yellow);

        &:hover {
          fill: url(#gradient-yellow-hover);
        }
      }
    }
  }

  text.legend[class*='series-color-'] {
    fill: #000000;
  }

  .purple {
    .line {
      stroke: #C93163;
      stroke-width: 3;
    }
    .dot, &.legend { fill: #C93163; }
    .dot-halo { fill: #F1CBD8; }
  }

  .series-color-1 {
    .line {
      stroke: #FF9D98;
      stroke-width: 3;
    }
    .dot, &.legend { fill: #FF9D98; }
    .dot-halo { fill: #DAEAEA; }
  }

  .series-color-2 {
    .line {
      stroke: #4C78A9;
      stroke-width: 3;
    }
    .dot, &.legend { fill: #4C78A9; }
    .dot-halo { fill: #DBE4EE; }
  }

  .series-color-3 {
    .line {
      stroke: #9FCBE9;
      stroke-width: 3;
    }
    .dot, &.legend { fill: #9FCBE9; }
    .dot-halo { fill: #ECF5FB; }
  }

  .series-color-4 {
    .line {
      stroke: #F48F14;
      stroke-width: 3;
    }
    .dot, &.legend { fill: #F48F14; }
    .dot-halo { fill: #FDE9D0; }
  }

  .inactive {
    .dot, &.legend, text {
      fill: $medium-gray-2;
    }
  }
}
