.infotip {
  position: relative;
  background: #ffffff;
  border: 2px solid black;
  padding: 5px;
  border-radius: 2px;

  &.yrs_lt5 {
    border-color: $maroon;
  }
  &.yrs_5_13 {
    border-color: $yellow;
  }
}
.infotip:after, .infotip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.infotip:after {
  border-color: transparent;
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
@mixin infotip_before {
  border-color: transparent;
  border-width: 11px;
  margin-left: -11px;
}
.infotip.yrs_lt5:before {
  @include infotip_before;
  border-top-color: $maroon;
}
.infotip.yrs_5_13:before {
  @include infotip_before;
  border-top-color: $yellow;
}

#bookings-by-population {
  height: 500px;
  width: 100%;

  .column {

    &.gradient-purple {
      fill: url(#gradient-purple);

      &:hover {
        fill: url(#gradient-purple-hover);
      }
    }
    &.gradient-yellow {
      fill: url(#gradient-yellow);

      &:hover {
        fill: url(#gradient-yellow-hover);
      }
    }
  }
}

#gradient-purple {
  .stop-left { stop-color: #DD5893 }
  .stop-right { stop-color: #B82C5A }
}

#gradient-purple-hover {
  .stop-left { stop-color: #F36AA9 }
  .stop-right { stop-color: #E23870 }
}

#gradient-yellow {
  .stop-left { stop-color: #FADC00 }
  .stop-right { stop-color: #F2B600 }
}

#gradient-yellow-hover {
  .stop-left { stop-color: #FFE905 }
  .stop-right { stop-color: #FFCF02 }
}
