.bookings {
  .infotip-container {
    padding-bottom: 5px;
  }

  .infotip {
    position: relative;
    background: #ffffff;
    border: 2px solid black;
    padding: 5px;
    border-radius: 2px;

    &.yrs_lt5 {
      border-color: $maroon;
    }
    &.yrs_5_13 {
      border-color: $yellow;
    }
  }
  .infotip:after, .infotip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .infotip:after {
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  @mixin infotip_before {
    border-color: transparent;
    border-width: 11px;
    margin-left: -11px;
  }
  .infotip.yrs_lt5:before {
    @include infotip_before;
    border-top-color: $maroon;
  }
  .infotip.yrs_5_13:before {
    @include infotip_before;
    border-top-color: $yellow;
  }

  #bookings-by-agency {
    height: 500px;
    width: 100%;

    .column {
      &.gradient-purple {
        fill: url(#gradient-purple);

        &:hover {
          fill: url(#gradient-purple-hover);
        }
      }
      &.gradient-yellow {
        fill: url(#gradient-yellow);

        &:hover {
          fill: url(#gradient-yellow-hover);
        }
      }
    }
  }

  #bookings-over-time {
    height: 500px;
    width: 100%;

    .line {
      stroke: #C93163;
      stroke-width: 3;
    }

    .dot {
      fill: #C93163;
    }

    .dot-halo {
      fill: #F1CBD8;
    }
  }
}
