.population {
  .population-info-section {
    @include grid-container();

    .chart-area {
      @include grid-column(9);
    }
    .stats-sidebar {
      @include grid-column(3);
    }

    .stats-table {
      clear: both;
      margin-left: 20px;
      margin-bottom: 20px;

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th {
        padding-bottom: 10px;
      }

      tbody {

        td {
          padding: 5px;
        }

        tr:nth-child(odd) {
          background-color: $shade-gray;
        }
      }
    }
  }

  .metric-bar {
    .bar {
      display: inline-block;
      height: 40px;
      border-radius: 2px;
      background: linear-gradient(to bottom, #DD5893, $fuchsia);
    }
  }

  .arrow {
    position: relative;
    top: -8px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 15px solid $fuchsia;

    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .stat {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .kpi-container {
    display: inline-block;
  }

  .chart-area {
    .line {
      stroke: #C93163;
      stroke-width: 3;
    }
    .dot {
      fill: #C93163;
    }
    .dot-halo {
      fill: #F1CBD8;
    }
  }

  .chart_label { // override base style; easier than reassigning class in d3
    @include small_chart_label;
  }
}
