.population {
  .population-info-section {
    @include grid-container();

    .chart-area {
      @include grid-column(9);
    }
    .stats-sidebar {
      @include grid-column(3);
    }
  }

  #condition-of-probation {
    .line {
      stroke: #C93163;
      stroke-width: 3;
    }
    .dot {
      fill: #C93163;
    }
    .dot-halo {
      fill: #F1CBD8;
    }
  }
}
