html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.section_header {
  font-family: Arvo;
  font-size: 26px;
  color: $section-header-color;
}

.nav-tabs .tab {
  font-family: Arvo;
  font-size: 18px;
  color: #FFFFFF;

  &.active {
    color: $maroon;
  }
}

.kpi {
  font-family: Arvo;
  font-size: 26px;
  color: $maroon;
}

.kpi_label {
  font-family: Lato-Regular;
  font-size: 12px;
  color: $dark-gray-1;
}

.chart_title {
  font-family: Lato-Bold;
  font-size: 16px;
  color: $dark-gray-1;
}

.chart_subtitle {
  font-family: Lato-Regular;
  font-size: 14px;
  color: $medium-gray-1;
}

.dropdown_selection {
  font-family: Lato-Regular;
  font-size: 14px;
  color: $dark-gray-1;
}

.dropdown_option {
  font-family: Lato-Regular;
  font-size: 14px;
  color: $dark-gray-2;
}

.legend_label {
  font-family: Lato-Regular;
  font-size: 12px;
  color: $dark-gray-1;

  &.hidden {
    color: $medium-gray-2;
  }
}

.tooltip_label {
  font-family: Lato-Regular;
  font-size: 12px;
  color: $medium-gray-1;
}

.tooltip_body {
  font-family: Lato-Regular;
  font-size: 14px;
  color: $dark-gray-1;
}

.chart_label {
  font-family: Lato-Regular;
  font-size: 12px;
  color: $dark-gray-2;
}
