= content_for(:page_name, 'adjudication')
.header
  %h2.section_header Length of Adjudication Process
  .header-kpis
    .kpi-container
      .kpi 91 days
      .kpi_label avg length of adjudication
    .kpi-container
      .kpi 72 days
      .kpi_label median length of adjudication

%section.chart
  .chart_title Average length of adjudication process by court
  .chart_subtitle Last year (1/1/16 - 12/31/16)
  #adjudication-by-court
    %svg{ width: '100%', height: '100%' }
    :javascript
      $(document).ready(function () {
        const adjudicationByCourt = new AdjudicationByCourtChart();
        adjudicationByCourt.render("#adjudication-by-court svg", {color: 'yellow'});
      });

%section.chart
  .chart_title Average length of adjudication process by judge
  .chart_subtitle Last year (1/1/16 - 12/31/16)
  #adjudication-by-judge
    %svg{ width: '100%', height: '100%' }
    :javascript
      $(document).ready(function () {
        const adjudicationByJudge = new AdjudicationByJudgeChart();
        adjudicationByJudge.render("#adjudication-by-judge svg", {color: 'purple'});
      });
