= content_for(:page_name, 'adjudication')
.header
  %h2.section_header Length of Adjudication Process
  .header-kpis
    .kpi-container
      .kpi #{@adjudication_average} days
      .kpi_label avg length of adjudication
    .kpi-container
      .kpi #{@adjudication_median} days
      .kpi_label median length of adjudication

%section.chart
  .chart_title Average length of adjudication process by court
  .chart_subtitle Last 3 years
  #adjudication-by-court
    :javascript
      $(document).ready(function () {
        const adjudicationByCourt = new AdjudicationByCourtChart();
        adjudicationByCourt.render("#adjudication-by-court", {color: 'yellow'});
      });

%section.chart
  .chart_title Average length of adjudication process by judge
  .chart_subtitle Last 3 years
  #adjudication-by-judge
    :javascript
      $(document).ready(function () {
        const adjudicationByJudge = new AdjudicationByJudgeChart();
        adjudicationByJudge.render("#adjudication-by-judge", {color: 'purple'});
      });
