= content_for(:nav_active, 'bookings')
.header
  %h2.section_header Jail Bookings by Agency
  .header-kpis
    .kpi
      .kpi-number 7,122
      .kpi_label bookings last quarter

%section.chart
  .chart_title Percentage of total jail bookings by agency compared to size of municipality served as a percentage of total population
  .chart_subtitle Last quarter (April 1, 2017 - June 30, 2017)
  #bookings-by-population
    %svg{ width: '100%', height: '100%' }
    :javascript
      $('document').ready(function () {
        const bookingsByAgency = new BookingsByAgencyChart();
        bookingsByAgency.render()
      });

%section.chart
  .chart_title Total number of jail bookings over time
  .chart_subtitle From Q2 2015 to Q2 2017
  #bookings-over-time
  %svg{ width: '100%', height: '100%' }
    :javascript
      $('document').ready(function () {
        const bookingsOverTime = new BookingsOverTimeChart();
        bookingsOverTime.render()
      });

%section.chart
  .chart_title Jail bookings over time, by agency
  .chart_subtitle From Q2 2015 to Q2 2017
