= content_for(:page_name, 'bookings')
.header
  .section_header Jail Bookings by Agency
  .header-kpis
    .kpi
      .kpi-number= @bookings_last_quarter
      .kpi_label bookings last quarter

%section.chart-section
  .chart_title Percentage of total jail bookings by agency compared to size of municipality served as a percentage of total population
  .chart_subtitle 5 years
  - time_start = Date.today.previous_financial_quarter.beginning_of_quarter.strftime('%Y%m%d')
  - time_end = Date.today.previous_financial_quarter.end_of_quarter.strftime('%Y%m%d')
  .chart{ 'data-chartname': 'bookings-by-agency',
          'data-adjustable-time': true,
          'data-default-time-start': time_start,
          'data-default-time-end': time_end,
          'data-default-time-interval': 'Last quarter',
          'data-ranges': "This month,Last month,This quarter,Last quarter,This year,Last year" }
    .datepicker-anchor.pull-right
      %span.dropdown_selection
      .chevron

%section.chart-section
  .chart_title Total number of jail bookings over time
  .chart_subtitle From Q2 2015 to Q2 2017
  - time_start = (Date.today-2.years).beginning_of_quarter.strftime('%Y%m%d')
  - time_end = Date.today.previous_financial_quarter.end_of_quarter.strftime('%Y%m%d')
  .chart{ 'data-chartname': 'bookings-over-time',
          'data-adjustable-time': true,
          'data-default-time-start': time_start,
          'data-default-time-end': time_end,
          'data-default-time-interval': 'Quarterly',
          'data-ranges': 'Weekly,Monthly,Quarterly,Yearly' }
    .datepicker-anchor.pull-right
      %span.dropdown_selection
      .chevron

%section.chart-section
  .chart_title Jail bookings over time, by agency
  .chart_subtitle Q2 2015 to Q2 2017
  - time_start = (Date.today-2.years).beginning_of_quarter.strftime('%Y%m%d')
  - time_end = Date.today.previous_financial_quarter.end_of_quarter.strftime('%Y%m%d')
  .chart{ 'data-chartname': 'bookings-over-time-by-agency',
          'data-adjustable-time': true,
          'data-default-time-start': time_start,
          'data-default-time-end': time_end,
          'data-default-time-interval': 'Yearly',
          'data-ranges': 'Weekly,Monthly,Quarterly,Yearly' }
    .datepicker-anchor.pull-right
      %span.dropdown_selection
      .chevron
