= content_for(:page_name, 'bookings')
.header
  %h2.section_header Jail Bookings by Agency
  .header-kpis
    .kpi
      .kpi-number= @bookings_last_quarter
      .kpi_label bookings last quarter

%section.chart
  .chart_title Percentage of total jail bookings by agency compared to size of municipality served as a percentage of total population
  .chart_subtitle Last quarter (April 1, 2017 - June 30, 2017)
  #bookings-by-agency
    :javascript
      $(document).ready(function () {
        const bookingsByAgency = new BookingsByAgencyChart();
        bookingsByAgency.render("#bookings-by-agency")
      });

%section.chart
  .chart_title Total number of jail bookings over time
  .chart_subtitle From Q2 2015 to Q2 2017
  #bookings-over-time
    :javascript
      $(document).ready(function () {
        const bookingsOverTime = new BookingsOverTimeChart();
        bookingsOverTime.render("#bookings-over-time")
      });

%section.chart
  .chart_title Jail bookings over time, by agency
  .chart_subtitle From Q2 2015 to Q2 2017
