= content_for(:page_name, 'population')
.header
  %h2.section_header Jail Population Breakdown
  .header-kpis
    .kpi
      .kpi-number 2,308
      .kpi_label total jail population
    .kpi
      .kpi-number 2,271
      .kpi_label in-house jail population
%section
  .chart_title Percentage of total jail beds by population
  .chart_subtitle Current jail population
  %ul.accordion
    %li.js-accordion-trigger{ href: "javascript:void(0)" }
      %span Condition of Probation
      %ul.submenu
        %li
          %span Quarterly Trend
          #condition-of-probation
            %svg{ width: '100%', height: '100%' }
            :javascript
              $(document).ready(function () {
                const conditionOfProbation = new ConditionOfProbationChart();
                conditionOfProbation.render("#condition-of-probation svg")
              });
    %li.js-accordion-trigger{ href: "javascript:void(0)" }
      %span Justice Court Commitments
      %ul.submenu
        %li
          %span Quarterly Trend
    %li.js-accordion-trigger{ href: "javascript:void(0)" }
      %span Held on Fines Under $XXX
      %ul.submenu
        %li
          %span Quarterly Trend
